.idea
javascript/
html_css/
basics_of_programming/
python/1/examples/
python/2/examples/
python/3/examples/
python/4/examples/
python/5/examples/
python/6/examples/
python/7/examples/
python/8/examples/
python/experiments/
*.zip